estrazioone

In [2]:
pip install treelib

Requirement already satisfied: treelib in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (1.6.1)
Requirement already satisfied: future in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from treelib) (0.18.2)

[notice] A new release of pip available: 22.2.1 -> 23.0
[notice] To update, run: pip3 install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from treelib import Node, Tree 
from math import nan, isnan

In [4]:
tsv = './dataset/songs2019.tsv'
dataset = pd.read_csv(tsv, sep='\t')
dataset.head()

,id,memberid,genre,instrument,parentid,playcount,solo_of,num_likes,tree_id
0,1.0,147238,Rock,NaN,0.0,121.0,NaN,5.0,1.0
1,2.0,146725,Rock,NaN,0.0,24.0,NaN,8.0,2.0
2,3.0,122309,Pop,NaN,0.0,22.0,NaN,8.0,3.0
3,4.0,147238,Rock,NaN,0.0,72.0,NaN,7.0,4.0
4,5.0,147305,Rock,NaN,0.0,294.0,NaN,21.0,5.0

raggruppo per id song

In [5]:
tsv = './dataset/membersEsongsids.tsv'
dataset = pd.read_csv(tsv, sep='\t')
dataset.head()

,rootIdx,rootAuth,nodeIdx1,nodeAuth1,nodeIdx2,nodeAuth2,nodeIdx3,nodeAuth3,nodeIdx4,nodeAuth4,...,nodeIdx15,nodeAuth15,nodeIdx16,nodeAuth16,nodeIdx17,nodeAuth17,nodeIdx18,nodeAuth18,nodeIdx19,nodeAuth19
0,13.0,147892,2574.0,155282,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,14.0,147892,6928.0,158326,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,43.0,150360,14943.0,163281,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,99.0,139958,3263.0,155813,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,176.0,154187,327602.0,487833,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
dataset.insert(loc=0, column='treeIdx', value=1)
dataset['treeIdx'] = dataset.groupby(['rootIdx']).ngroup()

In [6]:
dataset.head()

,treeIdx,rootIdx,rootAuth,nodeIdx1,nodeAuth1,nodeIdx2,nodeAuth2,nodeIdx3,nodeAuth3,nodeIdx4,...,nodeIdx15,nodeAuth15,nodeIdx16,nodeAuth16,nodeIdx17,nodeAuth17,nodeIdx18,nodeAuth18,nodeIdx19,nodeAuth19
0,0,13.0,147892,2574.0,155282,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,14.0,147892,6928.0,158326,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,43.0,150360,14943.0,163281,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,99.0,139958,3263.0,155813,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,176.0,154187,327602.0,487833,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df77 = dataset[dataset['rootIdx']==1177]
df77

,treeIdx,rootIdx,rootAuth,nodeIdx1,nodeAuth1,nodeIdx2,nodeAuth2,nodeIdx3,nodeAuth3,nodeIdx4,...,nodeIdx15,nodeAuth15,nodeIdx16,nodeAuth16,nodeIdx17,nodeAuth17,nodeIdx18,nodeAuth18,nodeIdx19,nodeAuth19
8,7,1177.0,154179,1178.0,154643,1182.0,154648.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,7,1177.0,154179,1179.0,154179,1186.0,154649.0,1191.0,148670.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,7,1177.0,154179,1181.0,154647,1188.0,152205.0,1194.0,148670.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,7,1177.0,154179,1178.0,154643,1190.0,154648.0,1200.0,154179.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,7,1177.0,154179,1180.0,154646,1183.0,154648.0,1195.0,154179.0,1751.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,7,1177.0,154179,1180.0,154646,1183.0,154648.0,1195.0,154179.0,2426.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,7,1177.0,154179,2682.0,155314,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,7,1177.0,154179,1181.0,154647,1189.0,154643.0,2684.0,155314.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,7,1177.0,154179,1180.0,154646,1183.0,154648.0,1195.0,154179.0,2717.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,7,1177.0,154179,1178.0,154643,20004.0,165122.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,7,1177.0,154179,1181.0,154647,1189.0,154643.0,29435.0,178329.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,7,1177.0,154179,1181.0,154647,1189.0,154643.0,32451.0,168171.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,7,1177.0,154179,1180.0,154646,1183.0,154648.0,1199.0,154647.0,34811.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,7,1177.0,154179,1179.0,154179,1186.0,154649.0,54452.0,213562.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,7,1177.0,154179,1181.0,154647,1189.0,154643.0,77597.0,183290.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,7,1177.0,154179,1181.0,154647,1189.0,154643.0,77599.0,183290.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,7,1177.0,154179,1180.0,154646,1183.0,154648.0,1196.0,152205.0,89477.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,7,1177.0,154179,1179.0,154179,1184.0,154649.0,187194.0,361750.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,7,1177.0,154179,1181.0,154647,1188.0,152205.0,1193.0,154647.0,196962.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,7,1177.0,154179,1180.0,154646,1183.0,154648.0,1196.0,152205.0,301069.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
cls = [column for column in df77 if("nodeIdx" in column)==True]
cls

['nodeIdx1',
 'nodeIdx2',
 'nodeIdx3',
 'nodeIdx4',
 'nodeIdx5',
 'nodeIdx6',
 'nodeIdx7',
 'nodeIdx8',
 'nodeIdx9',
 'nodeIdx10',
 'nodeIdx11',
 'nodeIdx12',
 'nodeIdx13',
 'nodeIdx14',
 'nodeIdx15',
 'nodeIdx16',
 'nodeIdx17',
 'nodeIdx18',
 'nodeIdx19']

In [9]:
tr = list()

for index,rows in df77.iterrows():
    vls = list()
    for c in cls:
        elem = rows[c]
        if not isnan(elem):
            vls.append(elem)
        #print(index,rows[c])
    tr.append(vls)

In [10]:
tr

[[1178.0, 1182.0],
 [1179.0, 1186.0, 1191.0],
 [1181.0, 1188.0, 1194.0],
 [1178.0, 1190.0, 1200.0],
 [1180.0, 1183.0, 1195.0, 1751.0, 1755.0],
 [1180.0, 1183.0, 1195.0, 2426.0],
 [2682.0],
 [1181.0, 1189.0, 2684.0],
 [1180.0, 1183.0, 1195.0, 2717.0],
 [1178.0, 20004.0],
 [1181.0, 1189.0, 29435.0],
 [1181.0, 1189.0, 32451.0],
 [1180.0, 1183.0, 1199.0, 34811.0, 34925.0],
 [1179.0, 1186.0, 54452.0],
 [1181.0, 1189.0, 77597.0],
 [1181.0, 1189.0, 77599.0],
 [1180.0, 1183.0, 1196.0, 89477.0],
 [1179.0, 1184.0, 187194.0],
 [1181.0, 1188.0, 1193.0, 196962.0],
 [1180.0, 1183.0, 1196.0, 301069.0]]

In [ ]:
[[1178.0, 1182.0],
 [1179.0, 1186.0, 1191.0],
 [1181.0, 1188.0, 1194.0],
 [1178.0, 1190.0, 1200.0],
 [1180.0, 1183.0, 1195.0, 1751.0, 1755.0],
 [1180.0, 1183.0, 1195.0, 2426.0],
 [2682.0],
 [1181.0, 1189.0, 2684.0],
 [1180.0, 1183.0, 1195.0, 2717.0],
 [1178.0, 20004.0],
 [1181.0, 1189.0, 29435.0],
 [1181.0, 1189.0, 32451.0],
 [1180.0, 1183.0, 1199.0, 34811.0, 34925.0],
 [1179.0, 1186.0, 54452.0],
 [1181.0, 1189.0, 77597.0],
 [1181.0, 1189.0, 77599.0],
 [1180.0, 1183.0, 1196.0, 89477.0],
 [1179.0, 1184.0, 187194.0],
 [1181.0, 1188.0, 1193.0, 196962.0],
 [1180.0, 1183.0, 1196.0, 301069.0]]

In [11]:
vls_set = set()
for c in cls:
            #print (column)
        element_n = (df77[c].values)
        element = [x for x in element_n if isnan(x)==False]
        vls_set.update(element)

print(vls_set)

{89477.0, 301069.0, 1178.0, 1179.0, 1180.0, 1181.0, 1182.0, 1183.0, 1184.0, 77597.0, 1186.0, 77599.0, 1188.0, 1189.0, 1190.0, 20004.0, 1191.0, 1193.0, 1194.0, 1195.0, 1196.0, 34811.0, 2426.0, 1199.0, 1200.0, 54452.0, 187194.0, 32451.0, 1751.0, 1755.0, 196962.0, 2717.0, 34925.0, 2682.0, 29435.0, 2684.0}

tabella item/frequenza

In [12]:
frequent = list()
for elem in vls_set:
    print("VALUE: ",elem)
    count = 0
    for r in tr:
        print("row",r)
        if elem in r:
            print("trova")
            count += 1
    print(count)
    frequent.append([elem,count])

VALUE:  89477.0
row [1178.0, 1182.0]
row [1179.0, 1186.0, 1191.0]
row [1181.0, 1188.0, 1194.0]
row [1178.0, 1190.0, 1200.0]
row [1180.0, 1183.0, 1195.0, 1751.0, 1755.0]
row [1180.0, 1183.0, 1195.0, 2426.0]
row [2682.0]
row [1181.0, 1189.0, 2684.0]
row [1180.0, 1183.0, 1195.0, 2717.0]
row [1178.0, 20004.0]
row [1181.0, 1189.0, 29435.0]
row [1181.0, 1189.0, 32451.0]
row [1180.0, 1183.0, 1199.0, 34811.0, 34925.0]
row [1179.0, 1186.0, 54452.0]
row [1181.0, 1189.0, 77597.0]
row [1181.0, 1189.0, 77599.0]
row [1180.0, 1183.0, 1196.0, 89477.0]
trova
row [1179.0, 1184.0, 187194.0]
row [1181.0, 1188.0, 1193.0, 196962.0]
row [1180.0, 1183.0, 1196.0, 301069.0]
1
VALUE:  301069.0
row [1178.0, 1182.0]
row [1179.0, 1186.0, 1191.0]
row [1181.0, 1188.0, 1194.0]
row [1178.0, 1190.0, 1200.0]
row [1180.0, 1183.0, 1195.0, 1751.0, 1755.0]
row [1180.0, 1183.0, 1195.0, 2426.0]
row [2682.0]
row [1181.0, 1189.0, 2684.0]
row [1180.0, 1183.0, 1195.0, 2717.0]
row [1178.0, 20004.0]
row [1181.0, 1189.0, 29435.0]
row [1181.0, 1189.0, 32451.0]
row [1180.0, 1183.0, 1199.0, 34811.0, 34925.0]
row [1179.0, 1186.0, 54452.0]
row [1181.0, 1189.0, 77597.0]
row [1181.0, 1189.0, 77599.0]
row [1180.0, 1183.0, 1196.0, 89477.0]
row [1179.0, 1184.0, 187194.0]
row [1181.0, 1188.0, 1193.0, 196962.0]
row [1180.0, 1183.0, 1196.0, 301069.0]
trova
1
VALUE:  1178.0
row [1178.0, 1182.0]
trova
row [1179.0, 1186.0, 1191.0]
row [1181.0, 1188.0, 1194.0]
row [1178.0, 1190.0, 1200.0]
trova
row [1180.0, 1183.0, 1195.0, 1751.0, 1755.0]
row [1180.0, 1183.0, 1195.0, 2426.0]
row [2682.0]
row [1181.0, 1189.0, 2684.0]
row [1180.0, 1183.0, 1195.0, 2717.0]
row [1178.0, 20004.0]
trova
row [1181.0, 1189.0, 29435.0]
row [1181.0, 1189.0, 32451.0]
row [1180.0, 1183.0, 1199.0, 34811.0, 34925.0]
row [1179.0, 1186.0, 54452.0]
row [1181.0, 1189.0, 77597.0]
row [1181.0, 1189.0, 77599.0]
row [1180.0, 1183.0, 1196.0, 89477.0]
row [1179.0, 1184.0, 187194.0]
row [1181.0, 1188.0, 1193.0, 196962.0]
row [1180.0, 1183.0, 1196.0, 301069.0]
3
VALUE:  1179.0
row [1178.0, 1182.0]
row [1179.0, 1186.0, 1191.0]
trova
row [1181.0, 1188.0, 1194.0]
row [1178.0, 1190.0, 1200.0]
row [1180.0, 1183.0, 1195.0, 1751.0, 1755.0]
row [1180.0, 1183.0, 1195.0, 2426.0]
row [2682.0]
row [1181.0, 1189.0, 2684.0]
row [1180.0, 1183.0, 1195.0, 2717.0]
row [1178.0, 20004.0]
row [1181.0, 1189.0, 29435.0]
row [1181.0, 1189.0, 32451.0]
row [1180.0, 1183.0, 1199.0, 34811.0, 34925.0]
row [1179.0, 1186.0, 54452.0]
trova
row [1181.0, 1189.0, 77597.0]
row [1181.0, 1189.0, 77599.0]
row [1180.0, 1183.0, 1196.0, 89477.0]
row [1179.0, 1184.0, 187194.0]
trova
row [1181.0, 1188.0, 1193.0, 196962.0]
row [1180.0, 1183.0, 1196.0, 301069.0]
3
VALUE:  1180.0
row [1178.0, 1182.0]
row [1179.0, 1186.0, 1191.0]
row [1181.0, 1188.0, 1194.0]
row [1178.0, 1190.0, 1200.0]
row [1180.0, 1183.0, 1195.0, 1751.0, 1755.0]
trova
row [1180.0, 1183.0, 1195.0, 2426.0]
trova
row [2682.0]
row [1181.0, 1189.0, 2684.0]
row [1180.0, 1183.0, 1195.0, 2717.0]
trova
row [1178.0, 20004.0]
row [1181.0, 1189.0, 29435.0]
row [1181.0, 1189.0, 32451.0]
row [1180.0, 1183.0, 1199.0, 34811.0, 34925.0]
trova
row [1179.0, 1186.0, 54452.0]
row [1181.0, 1189.0, 77597.0]
row [1181.0, 1189.0, 77599.0]
row [1180.0, 1183.0, 1196.0, 89477.0]
trova
row [1179.0, 1184.0, 187194.0]
row [1181.0, 1188.0, 1193.0, 196962.0]
row [1180.0, 1183.0, 1196.0, 301069.0]
trova
6
VALUE:  1181.0
row [1178.0, 1182.0]
row [1179.0, 1186.0, 1191.0]
row [1181.0, 1188.0, 1194.0]
trova
row [1178.0, 1190.0, 1200.0]
row [1180.0, 1183.0, 1195.0, 1751.0, 1755.0]
row [1180.0, 1183.0, 1195.0, 2426.0]
row [2682.0]
row [1181.0, 1189.0, 2684.0]
trova
row [1180.0, 1183.0, 1195.0, 2717.0]
row [1178.0, 20004.0]
row [1181.0, 1189.0, 29435.0]
trova
row [1181.0, 1189.0, 32451.0]
trova
row [1180.0, 1183.0, 1199.0, 34811.0, 34925.0]
row [1179.0, 1186.0, 54452.0]
row [1181.0, 1189.0, 77597.0]
trova
row [1181.0, 1189.0, 77599.0]
trova
row [1180.0, 1183.0, 1196.0, 89477.0]
row [1179.0, 1184.0, 187194.0]
row [1181.0, 1188.0, 1193.0, 196962.0]
trova
row [1180.0, 1183.0, 1196.0, 301069.0]
7
VALUE:  1182.0
row [1178.0, 1182.0]
trova
row [1179.0, 1186.0, 1191.0]
row [1181.0, 1188.0, 1194.0]
row [1178.0, 1190.0, 1200.0]
row [1180.0, 1183.0, 1195.0, 1751.0, 1755.0]
row [1180.0, 1183.0, 1195.0, 2426.0]
row [2682.0]
row [1181.0, 1189.0, 2684.0]
row [1180.0, 1183.0, 1195.0, 2717.0]
row [1178.0, 20004.0]
row [1181.0, 1189.0, 29435.0]
row [1181.0, 1189.0, 32451.0]
row [1180.0, 1183.0, 1199.0, 34811.0, 34925.0]
row [1179.0, 1186.0, 54452.0]
row [1181.0, 1189.0, 77597.0]
row [1181.0, 1189.0, 77599.0]
row [1180.0, 1183.0, 1196.0, 89477.0]
row [1179.0, 1184.0, 187194.0]
row [1181.0, 1188.0, 1193.0, 196962.0]
row [1180.0, 1183.0, 1196.0, 301069.0]
1
VALUE:  1183.0
row [1178.0, 1182.0]
row [1179.0, 1186.0, 1191.0]
row [1181.0, 1188.0, 1194.0]
row [1178.0, 1190.0, 1200.0]
row [1180.0, 1183.0, 1195.0, 1751.0, 1755.0]
trova
row [1180.0, 1183.0, 1195.0, 2426.0]
trova
row [2682.0]
row [1181.0, 1189.0, 2684.0]
row [1180.0, 1183.0, 1195.0, 2717.0]
trova
row [1178.0, 20004.0]
row [1181.0, 1189.0, 29435.0]
row [1181.0, 1189.0, 32451.0]
row [1180.0, 1183.0, 1199.0, 34811.0, 34925.0]
trova
row [1179.0, 1186.0, 54452.0]
row [1181.0, 1189.0, 77597.0]
row [1181.0, 1189.0, 77599.0]
row [1180.0, 1183.0, 1196.0, 89477.0]
trova
row [1179.0, 1184.0, 187194.0]
row [1181.0, 1188.0, 1193.0, 196962.0]
row [1180.0, 1183.0, 1196.0, 301069.0]
trova
6
VALUE:  1184.0
row [1178.0, 1182.0]
row [1179.0, 1186.0, 1191.0]
row [1181.0, 1188.0, 1194.0]
row [1178.0, 1190.0, 1200.0]
row [1180.0, 1183.0, 1195.0, 1751.0, 1755.0]
row [1180.0, 1183.0, 1195.0, 2426.0]
row [2682.0]
row [1181.0, 1189.0, 2684.0]
row [1180.0, 1183.0, 1195.0, 2717.0]
row [1178.0, 20004.0]
row [1181.0, 1189.0, 29435.0]
row [1181.0, 1189.0, 32451.0]
row [1180.0, 1183.0, 1199.0, 34811.0, 34925.0]
row [1179.0, 1186.0, 54452.0]
row [1181.0, 1189.0, 77597.0]
row [1181.0, 1189.0, 77599.0]
row [1180.0, 1183.0, 1196.0, 89477.0]
row [1179.0, 1184.0, 187194.0]
trova
row [1181.0, 1188.0, 1193.0, 196962.0]
row [1180.0, 1183.0, 1196.0, 301069.0]
1
VALUE:  77597.0
row [1178.0, 1182.0]
row [1179.0, 1186.0, 1191.0]
row [1181.0, 1188.0, 1194.0]
row [1178.0, 1190.0, 1200.0]
row [1180.0, 1183.0, 1195.0, 1751.0, 1755.0]
row [1180.0, 1183.0, 1195.0, 2426.0]
row [2682.0]
row [1181.0, 1189.0, 2684.0]
row [1180.0, 1183.0, 1195.0, 2717.0]
row [1178.0, 20004.0]
row [1181.0, 1189.0, 29435.0]
row [1181.0, 1189.0, 32451.0]
row [1180.0, 1183.0, 1199.0, 34811.0, 34925.0]
row [1179.0, 1186.0, 54452.0]
row [1181.0, 1189.0, 77597.0]
trova
row [1181.0, 1189.0, 77599.0]
row [1180.0, 1183.0, 1196.0, 89477.0]
row [1179.0, 1184.0, 187194.0]
row [1181.0, 1188.0, 1193.0, 196962.0]
row [1180.0, 1183.0, 1196.0, 301069.0]
1
VALUE:  1186.0
row [1178.0, 1182.0]
row [1179.0, 1186.0, 1191.0]
trova
row [1181.0, 1188.0, 1194.0]
row [1178.0, 1190.0, 1200.0]
row [1180.0, 1183.0, 1195.0, 1751.0, 1755.0]
row [1180.0, 1183.0, 1195.0, 2426.0]
row [2682.0]
row [1181.0, 1189.0, 2684.0]
row [1180.0, 1183.0, 1195.0, 2717.0]
row [1178.0, 20004.0]
row [1181.0, 1189.0, 29435.0]
row [1181.0, 1189.0, 32451.0]
row [1180.0, 1183.0, 1199.0, 34811.0, 34925.0]
row [1179.0, 1186.0, 54452.0]
trova
row [1181.0, 1189.0, 77597.0]
row [1181.0, 1189.0, 77599.0]
row [1180.0, 1183.0, 1196.0, 89477.0]
row [1179.0, 1184.0, 187194.0]
row [1181.0, 1188.0, 1193.0, 196962.0]
row [1180.0, 1183.0, 1196.0, 301069.0]
2
VALUE:  77599.0
row [1178.0, 1182.0]
row [1179.0, 1186.0, 1191.0]
row [1181.0, 1188.0, 1194.0]
row [1178.0, 1190.0, 1200.0]
row [1180.0, 1183.0, 1195.0, 1751.0, 1755.0]
row [1180.0, 1183.0, 1195.0, 2426.0]
row [2682.0]
row [1181.0, 1189.0, 2684.0]
row [1180.0, 1183.0, 1195.0, 2717.0]
row [1178.0, 20004.0]
row [1181.0, 1189.0, 29435.0]
row [1181.0, 1189.0, 32451.0]
row [1180.0, 1183.0, 1199.0, 34811.0, 34925.0]
row [1179.0, 1186.0, 54452.0]
row [1181.0, 1189.0, 77597.0]
row [1181.0, 1189.0, 77599.0]
trova
row [1180.0, 1183.0, 1196.0, 89477.0]
row [1179.0, 1184.0, 187194.0]
row [1181.0, 1188.0, 1193.0, 196962.0]
row [1180.0, 1183.0, 1196.0, 301069.0]
1
VALUE:  1188.0
row [1178.0, 1182.0]
row [1179.0, 1186.0, 1191.0]
row [1181.0, 1188.0, 1194.0]
trova
row [1178.0, 1190.0, 1200.0]
row [1180.0, 1183.0, 1195.0, 1751.0, 1755.0]
row [1180.0, 1183.0, 1195.0, 2426.0]
row [2682.0]
row [1181.0, 1189.0, 2684.0]
row [1180.0, 1183.0, 1195.0, 2717.0]
row [1178.0, 20004.0]
row [1181.0, 1189.0, 29435.0]
row [1181.0, 1189.0, 32451.0]
row [1180.0, 1183.0, 1199.0, 34811.0, 34925.0]
row [1179.0, 1186.0, 54452.0]
row [1181.0, 1189.0, 77597.0]
row [1181.0, 1189.0, 77599.0]
row [1180.0, 1183.0, 1196.0, 89477.0]
row [1179.0, 1184.0, 187194.0]
row [1181.0, 1188.0, 1193.0, 196962.0]
trova
row [1180.0, 1183.0, 1196.0, 301069.0]
2
VALUE:  1189.0
row [1178.0, 1182.0]
row [1179.0, 1186.0, 1191.0]
row [1181.0, 1188.0, 1194.0]
row [1178.0, 1190.0, 1200.0]
row [1180.0, 1183.0, 1195.0, 1751.0, 1755.0]
row [1180.0, 1183.0, 1195.0, 2426.0]
row [2682.0]
row [1181.0, 1189.0, 2684.0]
trova
row [1180.0, 1183.0, 1195.0, 2717.0]
row [1178.0, 20004.0]
row [1181.0, 1189.0, 29435.0]
trova
row [1181.0, 1189.0, 32451.0]
trova
row [1180.0, 1183.0, 1199.0, 34811.0, 34925.0]
row [1179.0, 1186.0, 54452.0]
row [1181.0, 1189.0, 77597.0]
trova
row [1181.0, 1189.0, 77599.0]
trova
row [1180.0, 1183.0, 1196.0, 89477.0]
row [1179.0, 1184.0, 187194.0]
row [1181.0, 1188.0, 1193.0, 196962.0]
row [1180.0, 1183.0, 1196.0, 301069.0]
5
VALUE:  1190.0
row [1178.0, 1182.0]
row [1179.0, 1186.0, 1191.0]
row [1181.0, 1188.0, 1194.0]
row [1178.0, 1190.0, 1200.0]
trova
row [1180.0, 1183.0, 1195.0, 1751.0, 1755.0]
row [1180.0, 1183.0, 1195.0, 2426.0]
row [2682.0]
row [1181.0, 1189.0, 2684.0]
row [1180.0, 1183.0, 1195.0, 2717.0]
row [1178.0, 20004.0]
row [1181.0, 1189.0, 29435.0]
row [1181.0, 1189.0, 32451.0]
row [1180.0, 1183.0, 1199.0, 34811.0, 34925.0]
row [1179.0, 1186.0, 54452.0]
row [1181.0, 1189.0, 77597.0]
row [1181.0, 1189.0, 77599.0]
row [1180.0, 1183.0, 1196.0, 89477.0]
row [1179.0, 1184.0, 187194.0]
row [1181.0, 1188.0, 1193.0, 196962.0]
row [1180.0, 1183.0, 1196.0, 301069.0]
1
VALUE:  20004.0
row [1178.0, 1182.0]
row [1179.0, 1186.0, 1191.0]
row [1181.0, 1188.0, 1194.0]
row [1178.0, 1190.0, 1200.0]
row [1180.0, 1183.0, 1195.0, 1751.0, 1755.0]
row [1180.0, 1183.0, 1195.0, 2426.0]
row [2682.0]
row [1181.0, 1189.0, 2684.0]
row [1180.0, 1183.0, 1195.0, 2717.0]
row [1178.0, 20004.0]
trova
row [1181.0, 1189.0, 29435.0]
row [1181.0, 1189.0, 32451.0]
row [1180.0, 1183.0, 1199.0, 34811.0, 34925.0]
row [1179.0, 1186.0, 54452.0]
row [1181.0, 1189.0, 77597.0]
row [1181.0, 1189.0, 77599.0]
row [1180.0, 1183.0, 1196.0, 89477.0]
row [1179.0, 1184.0, 187194.0]
row [1181.0, 1188.0, 1193.0, 196962.0]
row [1180.0, 1183.0, 1196.0, 301069.0]
1
VALUE:  1191.0
row [1178.0, 1182.0]
row [1179.0, 1186.0, 1191.0]
trova
row [1181.0, 1188.0, 1194.0]
row [1178.0, 1190.0, 1200.0]
row [1180.0, 1183.0, 1195.0, 1751.0, 1755.0]
row [1180.0, 1183.0, 1195.0, 2426.0]
row [2682.0]
row [1181.0, 1189.0, 2684.0]
row [1180.0, 1183.0, 1195.0, 2717.0]
row [1178.0, 20004.0]
row [1181.0, 1189.0, 29435.0]
row [1181.0, 1189.0, 32451.0]
row [1180.0, 1183.0, 1199.0, 34811.0, 34925.0]
row [1179.0, 1186.0, 54452.0]
row [1181.0, 1189.0, 77597.0]
row [1181.0, 1189.0, 77599.0]
row [1180.0, 1183.0, 1196.0, 89477.0]
row [1179.0, 1184.0, 187194.0]
row [1181.0, 1188.0, 1193.0, 196962.0]
row [1180.0, 1183.0, 1196.0, 301069.0]
1
VALUE:  1193.0
row [1178.0, 1182.0]
row [1179.0, 1186.0, 1191.0]
row [1181.0, 1188.0, 1194.0]
row [1178.0, 1190.0, 1200.0]
row [1180.0, 1183.0, 1195.0, 1751.0, 1755.0]
row [1180.0, 1183.0, 1195.0, 2426.0]
row [2682.0]
row [1181.0, 1189.0, 2684.0]
row [1180.0, 1183.0, 1195.0, 2717.0]
row [1178.0, 20004.0]
row [1181.0, 1189.0, 29435.0]
row [1181.0, 1189.0, 32451.0]
row [1180.0, 1183.0, 1199.0, 34811.0, 34925.0]
row [1179.0, 1186.0, 54452.0]
row [1181.0, 1189.0, 77597.0]
row [1181.0, 1189.0, 77599.0]
row [1180.0, 1183.0, 1196.0, 89477.0]
row [1179.0, 1184.0, 187194.0]
row [1181.0, 1188.0, 1193.0, 196962.0]
trova
row [1180.0, 1183.0, 1196.0, 301069.0]
1
VALUE:  1194.0
row [1178.0, 1182.0]
row [1179.0, 1186.0, 1191.0]
row [1181.0, 1188.0, 1194.0]
trova
row [1178.0, 1190.0, 1200.0]
row [1180.0, 1183.0, 1195.0, 1751.0, 1755.0]
row [1180.0, 1183.0, 1195.0, 2426.0]
row [2682.0]
row [1181.0, 1189.0, 2684.0]
row [1180.0, 1183.0, 1195.0, 2717.0]
row [1178.0, 20004.0]
row [1181.0, 1189.0, 29435.0]
row [1181.0, 1189.0, 32451.0]
row [1180.0, 1183.0, 1199.0, 34811.0, 34925.0]
row [1179.0, 1186.0, 54452.0]
row [1181.0, 1189.0, 77597.0]
row [1181.0, 1189.0, 77599.0]
row [1180.0, 1183.0, 1196.0, 89477.0]
row [1179.0, 1184.0, 187194.0]
row [1181.0, 1188.0, 1193.0, 196962.0]
row [1180.0, 1183.0, 1196.0, 301069.0]
1
VALUE:  1195.0
row [1178.0, 1182.0]
row [1179.0, 1186.0, 1191.0]
row [1181.0, 1188.0, 1194.0]
row [1178.0, 1190.0, 1200.0]
row [1180.0, 1183.0, 1195.0, 1751.0, 1755.0]
trova
row [1180.0, 1183.0, 1195.0, 2426.0]
trova
row [2682.0]
row [1181.0, 1189.0, 2684.0]
row [1180.0, 1183.0, 1195.0, 2717.0]
trova
row [1178.0, 20004.0]
row [1181.0, 1189.0, 29435.0]
row [1181.0, 1189.0, 32451.0]
row [1180.0, 1183.0, 1199.0, 34811.0, 34925.0]
row [1179.0, 1186.0, 54452.0]
row [1181.0, 1189.0, 77597.0]
row [1181.0, 1189.0, 77599.0]
row [1180.0, 1183.0, 1196.0, 89477.0]
row [1179.0, 1184.0, 187194.0]
row [1181.0, 1188.0, 1193.0, 196962.0]
row [1180.0, 1183.0, 1196.0, 301069.0]
3
VALUE:  1196.0
row [1178.0, 1182.0]
row [1179.0, 1186.0, 1191.0]
row [1181.0, 1188.0, 1194.0]
row [1178.0, 1190.0, 1200.0]
row [1180.0, 1183.0, 1195.0, 1751.0, 1755.0]
row [1180.0, 1183.0, 1195.0, 2426.0]
row [2682.0]
row [1181.0, 1189.0, 2684.0]
row [1180.0, 1183.0, 1195.0, 2717.0]
row [1178.0, 20004.0]
row [1181.0, 1189.0, 29435.0]
row [1181.0, 1189.0, 32451.0]
row [1180.0, 1183.0, 1199.0, 34811.0, 34925.0]
row [1179.0, 1186.0, 54452.0]
row [1181.0, 1189.0, 77597.0]
row [1181.0, 1189.0, 77599.0]
row [1180.0, 1183.0, 1196.0, 89477.0]
trova
row [1179.0, 1184.0, 187194.0]
row [1181.0, 1188.0, 1193.0, 196962.0]
row [1180.0, 1183.0, 1196.0, 301069.0]
trova
2
VALUE:  34811.0
row [1178.0, 1182.0]
row [1179.0, 1186.0, 1191.0]
row [1181.0, 1188.0, 1194.0]
row [1178.0, 1190.0, 1200.0]
row [1180.0, 1183.0, 1195.0, 1751.0, 1755.0]
row [1180.0, 1183.0, 1195.0, 2426.0]
row [2682.0]
row [1181.0, 1189.0, 2684.0]
row [1180.0, 1183.0, 1195.0, 2717.0]
row [1178.0, 20004.0]
row [1181.0, 1189.0, 29435.0]
row [1181.0, 1189.0, 32451.0]
row [1180.0, 1183.0, 1199.0, 34811.0, 34925.0]
trova
row [1179.0, 1186.0, 54452.0]
row [1181.0, 1189.0, 77597.0]
row [1181.0, 1189.0, 77599.0]
row [1180.0, 1183.0, 1196.0, 89477.0]
row [1179.0, 1184.0, 187194.0]
row [1181.0, 1188.0, 1193.0, 196962.0]
row [1180.0, 1183.0, 1196.0, 301069.0]
1
VALUE:  2426.0
row [1178.0, 1182.0]
row [1179.0, 1186.0, 1191.0]
row [1181.0, 1188.0, 1194.0]
row [1178.0, 1190.0, 1200.0]
row [1180.0, 1183.0, 1195.0, 1751.0, 1755.0]
row [1180.0, 1183.0, 1195.0, 2426.0]
trova
row [2682.0]
row [1181.0, 1189.0, 2684.0]
row [1180.0, 1183.0, 1195.0, 2717.0]
row [1178.0, 20004.0]
row [1181.0, 1189.0, 29435.0]
row [1181.0, 1189.0, 32451.0]
row [1180.0, 1183.0, 1199.0, 34811.0, 34925.0]
row [1179.0, 1186.0, 54452.0]
row [1181.0, 1189.0, 77597.0]
row [1181.0, 1189.0, 77599.0]
row [1180.0, 1183.0, 1196.0, 89477.0]
row [1179.0, 1184.0, 187194.0]
row [1181.0, 1188.0, 1193.0, 196962.0]
row [1180.0, 1183.0, 1196.0, 301069.0]
1
VALUE:  1199.0
row [1178.0, 1182.0]
row [1179.0, 1186.0, 1191.0]
row [1181.0, 1188.0, 1194.0]
row [1178.0, 1190.0, 1200.0]
row [1180.0, 1183.0, 1195.0, 1751.0, 1755.0]
row [1180.0, 1183.0, 1195.0, 2426.0]
row [2682.0]
row [1181.0, 1189.0, 2684.0]
row [1180.0, 1183.0, 1195.0, 2717.0]
row [1178.0, 20004.0]
row [1181.0, 1189.0, 29435.0]
row [1181.0, 1189.0, 32451.0]
row [1180.0, 1183.0, 1199.0, 34811.0, 34925.0]
trova
row [1179.0, 1186.0, 54452.0]
row [1181.0, 1189.0, 77597.0]
row [1181.0, 1189.0, 77599.0]
row [1180.0, 1183.0, 1196.0, 89477.0]
row [1179.0, 1184.0, 187194.0]
row [1181.0, 1188.0, 1193.0, 196962.0]
row [1180.0, 1183.0, 1196.0, 301069.0]
1
VALUE:  1200.0
row [1178.0, 1182.0]
row [1179.0, 1186.0, 1191.0]
row [1181.0, 1188.0, 1194.0]
row [1178.0, 1190.0, 1200.0]
trova
row [1180.0, 1183.0, 1195.0, 1751.0, 1755.0]
row [1180.0, 1183.0, 1195.0, 2426.0]
row [2682.0]
row [1181.0, 1189.0, 2684.0]
row [1180.0, 1183.0, 1195.0, 2717.0]
row [1178.0, 20004.0]
row [1181.0, 1189.0, 29435.0]
row [1181.0, 1189.0, 32451.0]
row [1180.0, 1183.0, 1199.0, 34811.0, 34925.0]
row [1179.0, 1186.0, 54452.0]
row [1181.0, 1189.0, 77597.0]
row [1181.0, 1189.0, 77599.0]
row [1180.0, 1183.0, 1196.0, 89477.0]
row [1179.0, 1184.0, 187194.0]
row [1181.0, 1188.0, 1193.0, 196962.0]
row [1180.0, 1183.0, 1196.0, 301069.0]
1
VALUE:  54452.0
row [1178.0, 1182.0]
row [1179.0, 1186.0, 1191.0]
row [1181.0, 1188.0, 1194.0]
row [1178.0, 1190.0, 1200.0]
row [1180.0, 1183.0, 1195.0, 1751.0, 1755.0]
row [1180.0, 1183.0, 1195.0, 2426.0]
row [2682.0]
row [1181.0, 1189.0, 2684.0]
row [1180.0, 1183.0, 1195.0, 2717.0]
row [1178.0, 20004.0]
row [1181.0, 1189.0, 29435.0]
row [1181.0, 1189.0, 32451.0]
row [1180.0, 1183.0, 1199.0, 34811.0, 34925.0]
row [1179.0, 1186.0, 54452.0]
trova
row [1181.0, 1189.0, 77597.0]
row [1181.0, 1189.0, 77599.0]
row [1180.0, 1183.0, 1196.0, 89477.0]
row [1179.0, 1184.0, 187194.0]
row [1181.0, 1188.0, 1193.0, 196962.0]
row [1180.0, 1183.0, 1196.0, 301069.0]
1
VALUE:  187194.0
row [1178.0, 1182.0]
row [1179.0, 1186.0, 1191.0]
row [1181.0, 1188.0, 1194.0]
row [1178.0, 1190.0, 1200.0]
row [1180.0, 1183.0, 1195.0, 1751.0, 1755.0]
row [1180.0, 1183.0, 1195.0, 2426.0]
row [2682.0]
row [1181.0, 1189.0, 2684.0]
row [1180.0, 1183.0, 1195.0, 2717.0]
row [1178.0, 20004.0]
row [1181.0, 1189.0, 29435.0]
row [1181.0, 1189.0, 32451.0]
row [1180.0, 1183.0, 1199.0, 34811.0, 34925.0]
row [1179.0, 1186.0, 54452.0]
row [1181.0, 1189.0, 77597.0]
row [1181.0, 1189.0, 77599.0]
row [1180.0, 1183.0, 1196.0, 89477.0]
row [1179.0, 1184.0, 187194.0]
trova
row [1181.0, 1188.0, 1193.0, 196962.0]
row [1180.0, 1183.0, 1196.0, 301069.0]
1
VALUE:  32451.0
row [1178.0, 1182.0]
row [1179.0, 1186.0, 1191.0]
row [1181.0, 1188.0, 1194.0]
row [1178.0, 1190.0, 1200.0]
row [1180.0, 1183.0, 1195.0, 1751.0, 1755.0]
row [1180.0, 1183.0, 1195.0, 2426.0]
row [2682.0]
row [1181.0, 1189.0, 2684.0]
row [1180.0, 1183.0, 1195.0, 2717.0]
row [1178.0, 20004.0]
row [1181.0, 1189.0, 29435.0]
row [1181.0, 1189.0, 32451.0]
trova
row [1180.0, 1183.0, 1199.0, 34811.0, 34925.0]
row [1179.0, 1186.0, 54452.0]
row [1181.0, 1189.0, 77597.0]
row [1181.0, 1189.0, 77599.0]
row [1180.0, 1183.0, 1196.0, 89477.0]
row [1179.0, 1184.0, 187194.0]
row [1181.0, 1188.0, 1193.0, 196962.0]
row [1180.0, 1183.0, 1196.0, 301069.0]
1
VALUE:  1751.0
row [1178.0, 1182.0]
row [1179.0, 1186.0, 1191.0]
row [1181.0, 1188.0, 1194.0]
row [1178.0, 1190.0, 1200.0]
row [1180.0, 1183.0, 1195.0, 1751.0, 1755.0]
trova
row [1180.0, 1183.0, 1195.0, 2426.0]
row [2682.0]
row [1181.0, 1189.0, 2684.0]
row [1180.0, 1183.0, 1195.0, 2717.0]
row [1178.0, 20004.0]
row [1181.0, 1189.0, 29435.0]
row [1181.0, 1189.0, 32451.0]
row [1180.0, 1183.0, 1199.0, 34811.0, 34925.0]
row [1179.0, 1186.0, 54452.0]
row [1181.0, 1189.0, 77597.0]
row [1181.0, 1189.0, 77599.0]
row [1180.0, 1183.0, 1196.0, 89477.0]
row [1179.0, 1184.0, 187194.0]
row [1181.0, 1188.0, 1193.0, 196962.0]
row [1180.0, 1183.0, 1196.0, 301069.0]
1
VALUE:  1755.0
row [1178.0, 1182.0]
row [1179.0, 1186.0, 1191.0]
row [1181.0, 1188.0, 1194.0]
row [1178.0, 1190.0, 1200.0]
row [1180.0, 1183.0, 1195.0, 1751.0, 1755.0]
trova
row [1180.0, 1183.0, 1195.0, 2426.0]
row [2682.0]
row [1181.0, 1189.0, 2684.0]
row [1180.0, 1183.0, 1195.0, 2717.0]
row [1178.0, 20004.0]
row [1181.0, 1189.0, 29435.0]
row [1181.0, 1189.0, 32451.0]
row [1180.0, 1183.0, 1199.0, 34811.0, 34925.0]
row [1179.0, 1186.0, 54452.0]
row [1181.0, 1189.0, 77597.0]
row [1181.0, 1189.0, 77599.0]
row [1180.0, 1183.0, 1196.0, 89477.0]
row [1179.0, 1184.0, 187194.0]
row [1181.0, 1188.0, 1193.0, 196962.0]
row [1180.0, 1183.0, 1196.0, 301069.0]
1
VALUE:  196962.0
row [1178.0, 1182.0]
row [1179.0, 1186.0, 1191.0]

In [13]:
frequent

[[89477.0, 1],
 [301069.0, 1],
 [1178.0, 3],
 [1179.0, 3],
 [1180.0, 6],
 [1181.0, 7],
 [1182.0, 1],
 [1183.0, 6],
 [1184.0, 1],
 [77597.0, 1],
 [1186.0, 2],
 [77599.0, 1],
 [1188.0, 2],
 [1189.0, 5],
 [1190.0, 1],
 [20004.0, 1],
 [1191.0, 1],
 [1193.0, 1],
 [1194.0, 1],
 [1195.0, 3],
 [1196.0, 2],
 [34811.0, 1],
 [2426.0, 1],
 [1199.0, 1],
 [1200.0, 1],
 [54452.0, 1],
 [187194.0, 1],
 [32451.0, 1],
 [1751.0, 1],
 [1755.0, 1],
 [196962.0, 1],
 [2717.0, 1],
 [34925.0, 1],
 [2682.0, 1],
 [29435.0, 1],
 [2684.0, 1]]

In [14]:
dic = {t[0] : t[1] for t in frequent}

dic

{89477.0: 1,
 301069.0: 1,
 1178.0: 3,
 1179.0: 3,
 1180.0: 6,
 1181.0: 7,
 1182.0: 1,
 1183.0: 6,
 1184.0: 1,
 77597.0: 1,
 1186.0: 2,
 77599.0: 1,
 1188.0: 2,
 1189.0: 5,
 1190.0: 1,
 20004.0: 1,
 1191.0: 1,
 1193.0: 1,
 1194.0: 1,
 1195.0: 3,
 1196.0: 2,
 34811.0: 1,
 2426.0: 1,
 1199.0: 1,
 1200.0: 1,
 54452.0: 1,
 187194.0: 1,
 32451.0: 1,
 1751.0: 1,
 1755.0: 1,
 196962.0: 1,
 2717.0: 1,
 34925.0: 1,
 2682.0: 1,
 29435.0: 1,
 2684.0: 1}

In [15]:
trans = tr
trans

[[1178.0, 1182.0],
 [1179.0, 1186.0, 1191.0],
 [1181.0, 1188.0, 1194.0],
 [1178.0, 1190.0, 1200.0],
 [1180.0, 1183.0, 1195.0, 1751.0, 1755.0],
 [1180.0, 1183.0, 1195.0, 2426.0],
 [2682.0],
 [1181.0, 1189.0, 2684.0],
 [1180.0, 1183.0, 1195.0, 2717.0],
 [1178.0, 20004.0],
 [1181.0, 1189.0, 29435.0],
 [1181.0, 1189.0, 32451.0],
 [1180.0, 1183.0, 1199.0, 34811.0, 34925.0],
 [1179.0, 1186.0, 54452.0],
 [1181.0, 1189.0, 77597.0],
 [1181.0, 1189.0, 77599.0],
 [1180.0, 1183.0, 1196.0, 89477.0],
 [1179.0, 1184.0, 187194.0],
 [1181.0, 1188.0, 1193.0, 196962.0],
 [1180.0, 1183.0, 1196.0, 301069.0]]

In [16]:
p = tr[0]


p.sort(key = lambda i: dic.get(i))

Transaction con Soglia

In [123]:
soglia = 0

trs = tr

for tran in trs:
    for item in tran:
        if(dic.get(item)<soglia):
            tran.remove(item)


ordered_tr = trs

In [124]:
ordered_tr

[[1178.0],
 [1179.0, 1186.0],
 [1181.0, 1188.0],
 [1178.0, 1200.0],
 [1180.0, 1183.0, 1195.0, 1755.0],
 [1180.0, 1183.0, 1195.0],
 [],
 [1181.0, 1189.0],
 [1180.0, 1183.0, 1195.0],
 [1178.0],
 [1181.0, 1189.0],
 [1181.0, 1189.0],
 [1180.0, 1183.0, 34811.0],
 [1179.0, 1186.0],
 [1181.0, 1189.0],
 [1181.0, 1189.0],
 [1180.0, 1183.0, 1196.0],
 [1179.0, 187194.0],
 [1181.0, 1188.0, 196962.0],
 [1180.0, 1183.0, 1196.0]]

In [125]:
def addChild(tree,child,parent,i):
    i = i + 1
    tree.create_node(child,i,parent,data=1)
    
    return i 

def getLabel(tree,succs):
    res = list()
    for s in succs:
        res.append(tree.get_node(s).tag)

    return res

def getNodeByLabel(tree,label,ids):
    for id in ids:
        n = tree.get_node(id)
        if(label == n.tag):
            return n


def addTransaction(tree,parent,trans,i):
    for t in trans:
        #print(t," node: ",parent)
    
        children = getChilds(tree,parent)
        lbs = getLabel(tree,children)

        #print("Child of ", t, lbs)

        if(t in lbs):
            #updateData(tree,node)
            parent = getNodeByLabel(tree,t,children)
            updateData(tree,parent)
            #print("update")

        else:
            id = addChild(tree,t,parent,i)
            node = tree.get_node(id)
            i = id
            parent = node
        
        

    return i





def updateData(tree,node):
    node.data = node.data + 1


def getChilds(tree,node):
    #print(node)
    return node.successors(tree.identifier)


def createTree(transactions):
    i=0
    tree  = Tree()

    tree.create_node("root",0)

    root = tree.get_node(0)

    for t in transactions:

        if(len(t)>0):
            #print("current trans: ",t)
            
            first = t[0]

            children = getChilds(tree,root)
            lbs = getLabel(tree,children)



            #print("child of root",lbs)
            if(first in lbs):
                #print("path available")
                parent = getNodeByLabel(tree,first,children)
                updateData(tree,parent)
                i = addTransaction(tree,parent,t[1:],i)
            else:
                i = addTransaction(tree,root,t,i)

            #tree.show()

    return tree

In [126]:
tree = createTree(ordered_tr)
tree.show()

root
├── 1178.0
│   └── 1200.0
├── 1179.0
│   ├── 1186.0
│   └── 187194.0
├── 1180.0
│   └── 1183.0
│       ├── 1195.0
│       │   └── 1755.0
│       ├── 1196.0
│       └── 34811.0
└── 1181.0
    ├── 1188.0
    │   └── 196962.0
    └── 1189.0

In [117]:
trp = list()

trp.append(['f','c','a','m','p'])
trp.append(['f','c','a','b','m'])
trp.append(['f','b'])
trp.append(['c','b','p'])
trp.append(['f','c','a','m','p'])



tree1 = createTree(trp)
tree1.show()

root
├── c
│   └── b
│       └── p
└── f
    ├── b
    └── c
        └── a
            ├── b
            │   └── m
            └── m
                └── p

In [118]:
trp = list()

trp.append(['i2','i1','i3'])
trp.append(['i2','i3','i4'])
trp.append(['i4','i5'])
trp.append(['i2','i1','i4'])
trp.append(['i2','i1','i3','i5'])
trp.append(['i2','i1','i3','i4'])


tree1 = createTree(trp)
tree1.show()

root
├── i2
│   ├── i1
│   │   ├── i3
│   │   │   ├── i4
│   │   │   └── i5
│   │   └── i4
│   └── i3
│       └── i4
└── i4
    └── i5

In [119]:
trp = list()

trp.append(['k','e','m','o','y'])
trp.append(['k','e','o','y'])
trp.append(['k','e','m'])
trp.append(['k','m','y'])
trp.append(['k','e','o'])

tree1 = createTree(trp)
tree1.show()

root
└── k
    ├── e
    │   ├── m
    │   │   └── o
    │   │       └── y
    │   └── o
    │       └── y
    └── m
        └── y

In [128]:
tree = createTree(ordered_tr)
tree.show()

for item in dic:
    print(item)

tree.paths_to_leaves()

root
├── 1178.0
│   └── 1200.0
├── 1179.0
│   ├── 1186.0
│   └── 187194.0
├── 1180.0
│   └── 1183.0
│       ├── 1195.0
│       │   └── 1755.0
│       ├── 1196.0
│       └── 34811.0
└── 1181.0
    ├── 1188.0
    │   └── 196962.0
    └── 1189.0

89477.0
301069.0
1178.0
1179.0
1180.0
1181.0
1182.0
1183.0
1184.0
77597.0
1186.0
77599.0
1188.0
1189.0
1190.0
20004.0
1191.0
1193.0
1194.0
1195.0
1196.0
34811.0
2426.0
1199.0
1200.0
54452.0
187194.0
32451.0
1751.0
1755.0
196962.0
2717.0
34925.0
2682.0
29435.0
2684.0

[[0, 2, 3],
 [0, 1, 6],
 [0, 7, 8, 9, 10],
 [0, 4, 11],
 [0, 7, 8, 12],
 [0, 7, 8, 13],
 [0, 2, 14],
 [0, 4, 5, 15]]

In [1]:
l = tree.paths_to_leaves()

tree_list = list()

for c in l:
    print(c)
    cam = list()
    for item in c:
        print(item)
        tag = tree.get_node(item).tag
        cam.append([item,tag])
    tree_list.append(cam)
print(tree_list)

NameError: name 'tree' is not defined